<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="black" style="background-color: #555;">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Consultas Médicas</h4>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="showSearchInput = !showSearchInput">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-primary" (click)="newCenter()">Nueva Consulta</button>
                        <div style="margin-top: 0px;" *ngIf="showSearchInput">
                            <input placeholder="Buscar..." class="form-control" name="search" [(ngModel)]="model.search" #search="ngModel" size="50" (keyup)="filterList($event)">
                        </div>
                        <div style="float: right;" *ngIf="searchResult.page && searchResult.page.totalElements > 0">
                            {{getPagingInfo()}}
                            &nbsp;
                            <div (click)="moveToPage(-1)" class="aprevnext">&#8249;</div>
                            <div (click)="moveToPage(1)" class="aprevnext">&#8250;</div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                                <th>Nombre</th>
                                <th>Documento</th>
                                <th>Fecha</th>
                                <!-- <th>Teléfono</th> -->
                                <!-- <th>Habilitado</th> -->
                                <!-- <th>Matrícula</th> -->
                                <th>Acción</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of listFiltered" style="cursor: pointer;">
                                    <td *ngIf="row.schedule.person" (click)="openRow(row.id)">{{row.schedule.person.lastName + ', ' + row.schedule.person.firstName}}</td>
                                    <td *ngIf="row.schedule.person" (click)="openRow(row.id)">{{row.schedule.person.docNumber}}</td>
                                    <td *ngIf="row.schedule.person" (click)="openRow(row.id)">{{row.schedule.arrivalTime}}</td>
                                    <!-- <td (click)="openRow(row.id)">{{row.person.phone}}</td> -->
                                    <!-- <td (click)="openRow(row.id)">{{row.status == 'ACT' ? 'SI' : 'NO'}}</td> -->
                                    <!-- <td (click)="openRow(row.id)">{{row.matricula}}</td> -->
                                    <td><i class="material-icons" (click)="deleteRow(row.id)">delete</i></td>
                                </tr>
                                <tr *ngIf="!searchResult || searchResult.length == 0" style="text-align: center;"><td colspan="7">No se encontraron consultas</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
