<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="col-md-offset-3 col-md-6" style="margin-top: 10px; text-align: center; font-size: 32px;font-weight: bold">
                    Bienvenido a
                </div> -->
                <div class="col-md-offset-3 col-md-6" style="margin-top: 50px;">
                    <img style="width:500px" src="../../assets/img/logo_institu.png" alt="">
                </div>
                <div class="col-md-offset-3 col-md-6" style="margin-top: 50px;">
                    <img style="width:500px" src="../../assets/img/gobierno_footer.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>